* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #141e30, #243b55);

    font-family: Arial, sans-serif;
}

.calculator {
    width: 350px;
    padding: 20px;

    background: #1c1c1e;
    border-radius: 30px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.display {
    height: 120px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 20px;

    color: white;
    font-size: 45px;

    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 65px;

    border: none;
    border-radius: 50%;

    background: #333336;
    color: white;

    font-size: 23px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    background: #444448;
}

button:active {
    transform: scale(0.95);
}

.operator {
    background: #ff8c00;
}

.operator:hover {
    background: #ffad33;
}

.equal {
    background: #00c853;
    border-radius: 35px;
}

.equal:hover {
    background: #00e676;
}

.clear {
    background: #ff5252;
}

.special {
    background: #7c4dff;
}

.delete {
    background: #26a69a;
}

.zero {
    grid-column: span 2;
    border-radius: 35px;
}
